/*------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,600,700&display=swap);

/*статичные элементы*/

/*Стили обноввления*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: Inter;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 35px;
}

/*-------------------------------------------*/

.container-body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.main {
  flex: 1 1 auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding-bottom: 20px;
}

.logo {
  padding-right: 10px;
}

.buttons {
  display: flex;
}

.button {
  background-color: #E2DDFF;
  color: #6950FF;
  border: none;
  border-radius: 8px;
  width: 84px;
  height: 42px;
  font-family: inter;
  font-size: 16px;
  line-height: 19px;
}

.button:not(:last-child) {
  margin-right: 14px;
}

.button:hover {
  background-color: #6950FF;
  color: #FFFFFF;
  transition: 0.5s;
}

.button-blue {
  background-color: #6950FF;
  border: 2px solid #6950FF;
  color: #FFFFFF;
  width: 147px;
  height: 42px;
}

.button-blue:hover {
  background-color: #FFFFFF;
  color: #6950FF;
  transition: 1s;
}

/*-----------------------------------------------------*/
/*main page*/

.main-img {
  width: 100%;
}

.text-main {
  width: 675px;
  color: #000000;
  font-size: 56px;
  margin-top: 32px;
  margin-bottom: 140px;
  padding-left: 42px;
  margin-right: 60px;
  font-family: Inter;
  font-style: bold;
}

@media (max-width: 800px) {
  .text-main {
    width: 470px;
    font-size: 32px;
    padding-left: 22px;
    margin-bottom: 80px;
  }
}

@media (max-width: 600px) {
  .text-main {
    width: 300px;
    font-size: 26px;
  }
}

/*-----------------------------------------------------*/
/*footer*/
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1E2B35;
  color: #FFFFFF;
}

.column-left {
  margin-top: 32px;
  margin-left: 42px;
  margin-bottom: 32px;
}

.logo-footer {
  margin-bottom: 42px;
}

.column-right {
  display: flex;
  margin-top: 32px;
}

li {
  list-style-type: none;
  margin-bottom: 15px;
}

.column-first {
  margin-right: 156px;
}

.column-second {
  margin-right: 121px;
}

.phone {
  margin-top: 10px;
}

@media(max-width:1400px) {
  .column-third {
    display: none;
  }
}

@media (max-width:840px) {
  .column-second {
    display: none;
  }
}

@media (max-width:640px) {
  .footer-container {
    display: flex;
  }

  .column-first {
    display: none;
  }
}


/*----------------------------------------------------*/
/*Analysis*/

.input-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 52px;
  margin-bottom: 30px;
  justify-content: space-between;

}

.input-text {
  font-family: Inter;
  font-size: 56px;
  padding-right: 40px;
}

.audiofile {
  margin-bottom: 60px;
}

@media (max-width: 1280px) {
  .input-text {
    font-size: 46px;
    margin-bottom: 60px;
  }

  .input-wrapper {
    margin-bottom: 60px;
  }

  .audiofile {
    margin-bottom: 40px;
  }
}

@media (max-width: 770px) {
  .input-container {
    margin-bottom: 0px;
  }

  .input-text {
    font-size: 40px;
    padding-right: 0px;
  }

  .wrapper-input-text {
    margin-bottom: 20px;
  }
}

/*.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}*/

.wrapper-input {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 34px;
  align-items: center;
}

.wrapper-input-text {
  font-size: 20px;
  line-height: 24px;
  padding-right: 42px;
  width: 350px;

}

.wrapper-input-input {
  width: 206px;
  height: 56px;
  background-color: #ECEEF8;
  border: solid 1px #ECEEF8;
  padding-left: 20px;
  border-radius: 8px;
}

.input-button {
  background-color: #FFFFFF;
  color: #6950FF;
  border: 2px solid #6950FF;
  border-radius: 8px;
  width: 184px;
  height: 42px;
  font-family: inter;
  font-size: 16px;
  line-height: 19px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.input-button:hover {
  background-color: #6950FF;
  color: #FFFFFF;
  transition: 0.5s;
}


.pause {
  display: none;
}

.table {
  display: none;

}

.table.show {
  display: block;
  margin-top: 10px;
  margin-bottom: 60px;
}